<!DOCTYPE html>
<html>
  <head>
    <title>FindATable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar"%>
    <%flash.each do |key, value|%>
      <div class="alert alert-<%=select_flash_key(key)%> alert-dismissible fade show" role="alert">
        <%=value%>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <%end%>
    <script>
      $(document).on('ready page:load', function () {
        $('#listing_tag_ids').chosen({
          allow_single_deselect: true,
          width: '100%'
        })
      });
    </script>
    <%= yield %>
  </body>
</html>
