<h1 class="hero-title text-center">Listings</h1>
<section class="container">
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4 justify-content-center">
    <%@listing.each do |listing|%>
      <div class="col-md-4 pt-3">
        <div class="card border-dark h-100">
          <div class="card-body">
            <h5><%=listing.title%></h5>
            <p class="card-text text-secondary"><%=truncate(listing.description, length: 50)%></p>
            <p>By: <%=listing.username%></p>
            <p><small>Tag: 
            <%listing.tag_list.each do |tag| %>
              <%= link_to tag, tagged_path(tag: tag) %>
            <%end%></small></p>
            <p><%= link_to "Read Listing", listing_path(listing) %></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</section>