<h1>Listings#new</h1>
<p>Find me in app/views/listings/new.html.erb</p>

<h1 class="hero-title text-center">Create Listing</h1>
<section class="container">
  <div class = "col row-col-sm-8 row-col-md-8 row-col-lg-8">
    <%= simple_form_for @listing, url: listings_path do |f| %>
      <%= f.input :title %>
      <%= f.input :tag_list %>
      <%= f.input :description %>
      <%= f.submit "Create", class: 'btn btn-lg btn-primary' %>
      <%=f.hidden_field :user_id%>
    <% end %>
  </div>
</section>