<h1 class="hero-title text-center">Create Listing</h1>
<section class="container">
  <div class = "col row-col-sm-8 row-col-md-8 row-col-lg-8">
    <%= simple_form_for @listing, url: listings_path do |f| %>
      <%= f.input :title %>
      <%= f.input :tag_list, input_html: {class:"tags", multiple: "multiple", style="width: 100%"},wrapper_html: { class: 'tags-container' }, collection: ActsAsTaggableOn::Tag.most_used(10), value_method: :name, label_method: :name %>
      <%= f.input :description %>
      <%= f.submit "Create", class: 'btn btn-lg btn-primary'%>
      <%=f.hidden_field :user_id%>
    <% end %>
  </div>
</section>


 <%# collection: ActsAsTaggableOn::Tag.most_used(10) %>